	<!DOCTYPE html>
	<html>
		<head>
			<title>Hosna Sattar, PhD</title>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
	    		<div class="blurb">
	        		<h1>Hi there, I'm Hosna Sattar!</h1>
					<p>My areas of expertise are Machine Learning, Human-Computer Interaction, and Computer Vision. I do like to use my expertise to build intelligent assistive systems to help users achieve their goal easier.<a href="/about">Read more about my life...</a></p>
	    		</div><!-- /.blurb -->
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hosna.sattar@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hosnasattar">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
